<section class="bg-red-600">
    <h1>Entrar</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div>
        <label>
          Usuário
          <input formControlName="username" autocomplete="username" />
        </label>

        <label>
          Senha
          <input type="password" formControlName="password" autocomplete="current-password" />
        </label>
        <button type="submit" [disabled]="form.invalid || loading()">Entrar</button>

      </div>
    </form>

    @if (error()) {
      <p>{{ error() }}</p>
    }

    <p>
      <a routerLink="/">Voltara</a>
    </p>
  </section>
